In [1]:
pip install requests

Requirement already satisfied: requests in /Users/chrisreimann/opt/anaconda3/lib/python3.7/site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/chrisreimann/opt/anaconda3/lib/python3.7/site-packages (from requests) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/chrisreimann/opt/anaconda3/lib/python3.7/site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/chrisreimann/opt/anaconda3/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/chrisreimann/opt/anaconda3/lib/python3.7/site-packages (from requests) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
import json
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [3]:
os.getcwd()

'/Users/chrisreimann/Desktop/Final Project FINAL'

### Chicago Park Locations API

In [4]:
data=requests.get('https://data.cityofchicago.org/resource/wwy2-k7b3.json?$limit=50000',auth=('3cxz7bqz38hha10zeshhy8r7g','4c1dfl7m5fer23lmg0kvqkgwttgw06ekhmw54gdothw3os5hxb'))

In [5]:
data2 = json.loads(data.content.decode())

In [6]:
type(data2)

list

In [7]:
data3=pd.DataFrame(data2)

In [8]:
data3

,park_number,park_name,street_address,zip,acres,ward,park_class,label,wheelchair_accessible_ball_fields,alfred_caldwell_lily_pond,...,model_train_display,model_yacht_basin,cricket_field,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux
0,1162,MCKEON (JOSEPH),600 W 36TH ST,60609,0.4,11,MINI-PARK,McKeon,0,0,...,0,0,0,"{'latitude': '41.82903552510654', 'longitude':...",37,58,14924,172,48,26
1,1139,OHIO,4712 W OHIO ST,60644,0.42,37,MINI-PARK,Ohio,0,0,...,0,0,0,"{'latitude': '41.89145773962588', 'longitude':...",32,26,22216,695,23,11
2,206,ALTGELD (JOHN),515 S WASHTENAW AVE,60612,4.32,27,COMMUNITY PARK,Altgeld,0,0,...,0,0,0,"{'latitude': '41.87472755936259', 'longitude':...",28,28,21184,38,23,11
3,468,PARK NO. 468,4556 W 56TH ST,60629,1.32,13,UNIMPROVED PARK,Park No. 468,0,0,...,0,0,0,"{'latitude': '41.791344140064204', 'longitude'...",58,60,21867,773,15,23
4,33,RAINEY (EDWARD),4350 W 79TH ST,60652,18.31,13,REGIONAL PARK,Rainey,0,0,...,0,0,0,"{'latitude': '41.749472777639994', 'longitude'...",8,69,4300,571,30,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,1284,MULBERRY,3150 S ROBINSON CT,60608,0.56,11,NEIGHBORHOOD PARK,Mulberry,0,0,...,0,0,0,"{'latitude': '41.8363757954521', 'longitude': ...",43,56,14920,192,1,26
577,405,DEBOW (RUSSELL),1126 E 80TH ST,60619,0.55,8,NEIGHBORHOOD PARK,Debow,0,0,...,0,0,0,"{'latitude': '41.74958541811261', 'longitude':...",61,41,21546,133,35,9
578,355,NINEBARK,1447-1453 S HARDING AVE,60623,0.22,24,MINI-PARK,Ninebark,0,0,...,0,0,0,"{'latitude': '41.846230000000105', 'longitude'...",57,32,21569,754,28,14
579,1155,SINTIC (GREGORY),2835 S WALLACE ST,60616,0.14,11,MINI-PARK,Sintic,0,0,...,0,0,0,"{'latitude': '41.84291834655948', 'longitude':...",40,58,21194,155,48,26
580,178,HURLEY (TIMOTHY),1901 W 100TH ST,60643,1.21,19,NEIGHBORHOOD PARK,Hurley,0,0,...,0,0,0,"{'latitude': '41.71198599832957', 'longitude':...",13,71,22212,628,42,33

### Write to csv for upload to GCP

In [19]:
data3.to_csv('park_locations.csv',index=False)